@model ProyectoCalendarizacionDeVacaciones.Models.Solicitudvacacion
@{
	Layout = "MainLayout";	
}
<form method="post" action="~/Home/ProgramarVacaciones">

    <h3>
        Solicitud de Vacaciones</h2>

        <div class="input-group">
            <label for="fechaInicio">Fecha de inicio:</label>
            <input type="date" id="fechaInicio" name="FechaInicio" value="@Model.FechaInicio" required>
            <label for="fechaFin">Fecha de fin:</label>
            <input type="date" id="fechaFin" name="FechaFin" value="@Model.FechaFin" required>
            <input type="hidden" name="Estado" value="@Model.Estado" />

            <label for="comentarios">Comentarios:</label>
            <textarea id="comentarios" name="Comentarios" rows="4" placeholder="Opcional...">@Model.Comentarios</textarea>


            <button class="btnS" type="submit" value="Enviar">Enviar solicitud</button>

            <p>Nota: Ustede puede dividir sus vacaciones en  2, 3 y maxímo 4 periodos. Y si lo prefiere, tomar todas sus vacaciones en uno solo.</p>

            <p style="color:red;" id="error">
                @Html.ValidationSummary()
            </p>

        </div>

</form>